 <section id="wallpaper">

  <h1 id="Heading" class="Heading">Start Travelling with india's Online car rental system</h1>
  <hr>
 
  <section class="self-help back">
  <h1 class="genre">CAR TYPE : <u>SEDAN</u> </h1>
  <div class="scroll">
  <a class="richdad" routerLink="/rentform"><img class="book"src="../assets/VERNA.jpg" alt="" width="20%" (click)="bookName('HONDA VERNA')"></a>
  <a class="atomic habit" routerLink="/rentform"><img class="book"src="../assets/RAPID.jpg" alt="" width="20%" (click)="bookName('SKODA RAPID')"></a>
  <a class="howtowinfriends" routerLink="/rentform"><img class="book"src="../assets/CIAZ.jpg" alt="" width="20%" (click)="bookName('HONDA CIAZ')"></a>
  <a class="thnikandgrow" routerLink="/rentform"><img class="book"src="../assets/CITY.jpg" alt="" width="20%" (click)="bookName('HONDA CITY')"></a>
  <a class="more" href="#"><img class="book"src="../assets/more.jfif" alt="" width="20%"></a>
  

  </div>
  </section>
  
  <hr>
  
  <section class="fiction back">
    <h1 class="genre">CAR TYPE : <u>SUV</u> </h1>
    <div class="scroll">
      <a class="twostate" routerLink="/rentform"><img class="book"src="../assets/XUV.jpg" alt="" width="20%" (click)="bookName('MAHINDRA XUV700')"></a>
      <a class="alllightwecantsee" routerLink="/rentform"><img class="book"src="../assets/thar.jpg" alt="" width="20%" (click)="bookName('MAHINDRA THAR')"></a>
      <a class="invisibleman" routerLink="/rentform"><img class="book"src="../assets/punch.png" alt="" width="20%" (click)="bookName('TATA PUNCH')"></a>
      <a class="lordofrings" routerLink="/rentform"><img class="book"src="../assets/creta.jpg" alt="" width="20%" (click)="bookName('HUNDAI CRETA')"></a>

      <a class="more" href="#"><img class="book"src="../assets/more.jfif" alt="" width="20%"></a>
    </div>
  </section>
</section>

