

/* Universal styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to right,rgb(48, 0, 12),rgb(2, 36, 59))
}


form {
    display: flex;
    flex-direction: column;
    background: rgb(210, 201, 218);
    width: 500px;
    height: 2000px;
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 40px 9px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 40px 9px rgba(0, 0, 0, 0.4);
}

.head {
    background: rgb(85, 13, 7);
    margin-bottom: 10px;
    padding: 15px;
}



.head h1,
p {
    text-align: center;
    color: white;
}

.head p {
    font-size: 12px;
}

label {
    margin-left: 20px;
}
label{
    position: relative;
    top: -10px;
}
input{
    position: relative;
    top: -15px;
}
#Address{
    position: relative;
    top: -15px;
    height: 1cm;
}
#mn,#Mobile-No
{
    position: relative;
    top: -30px;
}

#Address{
    padding: 20px;
}
input,
textarea {
    padding: 5px;
    margin: 5px 20px 20px 20px;
    outline: none;
    border-radius: 10px;
    border: 1px solid #ccc;
    
}

input:focus,
textarea:focus {
    border: 1px solid rgb(85, 13, 7);
}

textarea {
    resize: vertical;
}

.button {
    outline: none;
    background: rgb(85, 13, 7);
    border: none;
    padding: 2px;
    border-radius: 50px;
    margin: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    top: -47px;
}

.button:hover {
    background: rgb(36, 1, 77);
}

@media screen and (max-width: 417px) {
    form {
        width: 100%;
        height: 100%;
    }
}